body{
    background-color:beige;
}

#estrazione{
    text-align:center;
}
#lanciaDadi{
    margin-top:1rem;
    height:2rem;
    width:6rem;
    display:inline-block;
    
}
#numeroEstratto{
    height: 2rem;
    width:2rem;
    border:1px solid black;
    
}

span {
    display:inline-block;
    margin-top:1em;
    text-align:center;
    padding-top:1rem;
    margin-bottom:1rem;
}

#tabellone {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.cellaSingola {
    border: 1px solid black;
    width: calc(100% / 10 - 2px);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    background-color: beige;
}

.sfondo{
    background-color:greenyellow;
}